.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.header__title {
  color: $dark-blue;
  font-size: $font-size-large;
  text-decoration: none;
  margin: 0;
  span {
    color: $grey;
    font-weight: 300;
  }
}

.header__link {
  background: $dark-blue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  font-size: $font-size-small;
  outline: none;
  padding: $xs-size $s-size;
  text-decoration: none;
  transition: box-shadow .3s ease;
  &:hover {
    box-shadow: 0px 2px 5px $grey;
  }
}